<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833205764016-ne2kr7htf0lm2asp2un9a9nrljkl6jrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833205764016-ne2kr7htf0lm2asp2un9a9nrljkl6jrt</string>
	<key>API_KEY</key>
	<string>AIzaSyAYj0PClpyRJIX29n6gG4tk-ESY0J_8ctY</string>
	<key>GCM_SENDER_ID</key>
	<string>833205764016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizz</string>
	<key>PROJECT_ID</key>
	<string>e-learning-15772</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-15772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833205764016:ios:08ecc98b82cbad29642075</string>
</dict>
</plist>